body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}
 
h1.fnt-red {
    color: red;
}
    
.fnt-blue {
    color: blue;
}
    
#nombre_alumno {
    color: red;
    text-decoration: underline;
}
    