@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    /* padding: 50px; */
    background-color: beige;
}

h1 {
    color: brown;
    padding-top: 1.5rem;
}
 
h1.fnt-red {
    color: red;
}
    
.fnt-blue {
    color: blue;
}

.p50{
    padding: 50px;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo {
    color:rgb(127, 210, 255);
    font-size: 30px;
    font-style: italic;
}

.texto {
    color: rgb(46, 46, 180);
    font-size: 15px;
}

.mt1{
    margin-top: 1.5rem;
}

.destacado {
    font-style: italic;
    font-weight: bold;
}

.bicis{
    display: flex;
    gap: 1rem;
}

.biciSection{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 350px;
    border-radius: 0.5rem 0.5rem;
    margin-top: 1.5rem;
}

.biciImage{
    height: 70%;
    padding: 0.3rem;
    border-radius: 0.5rem;
    object-fit: cover;
}

.biciInfo{
    height: 30%;
    padding: 0.5rem;
    padding-left: 0.7rem;

}

.biciInfo h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.biciInfo h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.biciInfo p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 0.4rem;
    font-size: 12.5px;
    color: rgb(113, 113, 113);
    font-weight: 400;
}

.iconSection{
    background-color: white;
    display: flex;
    justify-content:space-around;
    padding: 0.5rem;
    height: 10%;
    border-radius: 0 0 0.5rem 0.5rem;
}

.iconHeart{
    width: 20px;
    fill: rgba(255, 0, 0, 0.557);
}

.iconChat{
    width: 20px;
    fill: rgb(20, 191, 148);
}

.body4b{
    height: 200vh;
    display: flex;

}

.div4b1{
    position: fixed;
    width: 100%;
    height: 40px;
}

.div4b2{
    position: fixed;
    width: 100%;
    height: 40px;
    top: 93.5vh;
}

.blue{
    background-color: rgb(65, 65, 255);
}

.red{
    background-color: rgb(240, 70, 70);
}

.volver{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}